:root {
    --saumon: #EF6F6C;
    --marin: #465775;
    --cameleon: #59C9A5;
    --gris: #95A3B3;
    --vert: #56E39F;
    --blanc: #E5EAFA;
}

body {
    overflow-x: hidden;
    margin: 0;
}

header {
    max-width: 1920px;
    height: 100vh;
    background-image: url(https://static.vecteezy.com/ti/vecteur-libre/p3/4482791-lever-du-soleil-dans-les-montagnes-nature-paysage-fond-le-soleil-brille-derriere-les-montagnes-avec-l-air-frais-du-matin-sous-l-aube-ciel-matin-vue-cartoon-vector-illustration-vectoriel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titre {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    color: var(--blanc);
    font-family: 'Raleway';
}

.description {
    font-size: 11px;
    font-family: 'Nunito';
    color: var(--blanc);
    position: relative;
    top: 85vh;
    display: flex;
    justify-content: center;
}

.scrollDown {
    display: flex;
    justify-content: center;
    position: relative;
    top: 65vh;
}

section {
    width: 100vw;
    height: auto;
    font-size: 0px;
    position: relative;
}

main {
    max-width: 1920px;
}




#chapitre-1 {
    position: relative;
    background-image: url(https://images.wallpaperscraft.com/image/single/minimalism_sky_clouds_95458_1920x1080.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.obstacle1{
    position: absolute;
    width: 25%;
    height: auto;
    right: 20%;
}

.elementVisuel1{
    position: absolute;
    width: 100%;
    top: 250px;
    height: 1%;
}

.texteC1{
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 0;
    color: var(--blanc);
    font-family: 'Raleway';
}




#chapitre-2 {
    position: relative;
    background-image: url(https://static.vecteezy.com/ti/vecteur-libre/p3/5004101-coucher-de-soleil-en-montagnes-nature-paysage-fond-crepuscule-ciel-en-violet-soiree-vue-plat-vector-illustration-vectoriel.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.obstacle2{
    position:absolute;
    width: 45%;
    height: auto;
    top: 1vw;
    left: 10%;
    rotate: 12deg;
}

.obstacle3{
    position: absolute;
    width: 45%;
    height: auto;
    top: 15vw;
    left: 45%;
    rotate: -12deg;
}

.elementVisuel2{
    position: absolute;
    width: 100%;
    top: 300px;
    height: 1%;
}

.texteC2{
    position: relative;
    top: 150px;
    left: 15%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 0;
    color: var(--blanc);
    font-family: 'Raleway';
}




#chapitre-3 {
    position: relative;
    background-image: url(https://wallpapercave.com/wp/wp7563372.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.obstacle4{
    position: absolute;
    width: 45%;
    height: auto;
    rotate: 12deg;
}

.obstacle5{
    position: absolute;  
    width: 25%;
    left: 45%;
    top: -100%;
    height: auto;
}

.elementVisuel3{
    position: absolute;
    width: 100%;
    top: 300px;
    height: 5px;
}

.texteC3{
    position: relative;
    top: 150px;
    left: 15%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 0;
    --marin: #465775;
    font-family: 'Raleway';
}




#chapitre-4 {
    position: relative;
    background-image: url(https://wallpapercave.com/wp/wp7563300.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.obstacle6{
    position: absolute;
    width: 33%;
    left: 15%;
}

.obstacle7{
    position: absolute;
    width: 40%;
    left: 48%;
    top: 0.7vw;
}

.elementVisuel4{
    position: absolute;
    width: 100%;
    top: 300px;
    height: 5px;
}

.texteC4{
    position: relative;
    top: 150px;
    left: 15%;
    font-size: 35px;
    margin: 0;
    --marin: #465775;
    font-family: 'Raleway';
}




#chapitre-5 {
    position: relative;
    background-image: url(https://wallpapercave.com/wp/wp7563506.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.obstacle8{
    position: absolute;
    width: 25%;
    left: 35%;
}

.obstacle9{
    position: absolute;
    width: 25%;
    rotate: -12deg;
    top: 22vw;
    right: 25%;
}

.obstacle10{
    position: absolute;
    width: 25%;
    rotate: 12deg;
    top: 29vw;
    left: 25%;
}

.obstacle11{
    position: absolute;
    width: 25%;
    rotate: -12deg;
    top: 36vw;
    right: 25%;
}

.elementVisuel5{
    position: absolute;
    width: 100%;
    top: 150px;
    height: 5px;
}

.texteC5{
    position: relative;
    top: 150px;
    left: 25%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 0;
    color: var(--blanc);
    font-family: 'Raleway';
}




#chapitre-6 {
    position: relative;
    background-image: url(https://wallpapercave.com/wp/wp10441559.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.obstacle12{
    position: absolute;
    width: 30%;
    left: 15%;
    bottom: 2vw;
}

.obstacle13{
    position: absolute;
    width: 30%;
    right: 15%;
    bottom: 2vw;
    transform: scaleX(-1);
}

.obstacle14{
    position: absolute;
    width: 40%;
    left: 30%;
    top: 1vw;
}

.elementVisuel6{
    position: absolute;
    width: 100%;
    top: 600px;
    height: 5px;
}

.texteC6{
    position: relative;
    top: 150px;
    right: 15%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 0;
    --marin: #465775;
    font-family: 'Raleway';
}

.trace{
    position: absolute;
    height: 5193px;
    right: 568px;
    top: 1214px;
    z-index: 1;
}




.balle {
    width: 50vw;
    background-image: url(../img/balle_spritesheet.png);
    border: dotted 1px #ff8487;
    animation-name: roule;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-size: auto 100%;
    background-repeat: no-repeat;
    animation-timing-function: steps(48);
    animation-play-state: running;
    aspect-ratio: 1/1;
}

.is-scrolling .balle {
    animation-play-state: running;
}

@keyframes roule {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 4800% 0;
    }
}